/* Mobile frist */
/* Extra small devices (portrait phones, less than 576px) */
:root{
    --clr-primary: #ffffff;
    --clr-primary-hover: #7f7f7f;
}

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #808080;
}

/*--------------------------------------------------------------
    <main>
--------------------------------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    transition: color 0.15s ease-in;
}
h1:hover,
h2:hover,
h3:hover,
h4:hover,
h5:hover,
h6:hover{
    color: #000;
}

h2{
    font-size: 24px;
}

h3{
    font-weight: 400;
    font-size: 64px;
}

h4{
    font-weight: 300;
    font-size: 16px;
}

p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}


/*--------------------------------------------------------------
    <section> - hero
--------------------------------------------------------------*/

.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    min-height: 768px;
}

.hero__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100%;

    text-align: justify;
    background-color: #fafafa;
    border: solid 1px #eaeaea;
}

.hero__card{
    overflow: hidden;
    width: 100%;
    height: 270px;
    background-color: #fff;
    border: solid 1px #eaeaea;

    padding: 25px;
    margin: 25px;
    box-shadow: 0 0 25px rgba(0,0,0, 0.05);
    user-select: none;
    transition: box-shadow 0.15s ease-in;
}

.hero__card:hover{
    box-shadow: 0 0 25px rgba(0,0,0, 0.10);
}

.hero__top{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
}

#city-input{
    width: 100%;
    height: 64px;
    padding: 25px;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 20px;
    color: #808080;
    background-color: #fff;
    border: solid 1px #eaeaea;
    box-shadow: 0 0 25px rgba(0,0,0, 0.05);
    outline: none;
    transition: border 0.15s ease-in;
    transition: box-shadow 0.15s ease-in;
}

#city-search-btn{
    position: absolute;
    height: 64px;
    width: 64px;
    right: 0;
    background-color: #fff;
    border: solid 1px #eaeaea;
    cursor: pointer;
    outline: none;
    transition: border 0.15s ease-in;
}

#city-input:focus,
#city-search-btn:focus{
    border: solid 1px #d1d1d1;
}

#city-search-btn:focus .city-search-svg{
    fill: #000;
}

.city-search-svg{
    height: 30px;
    width: 30px;
    fill: #808080;
    transition: fill 0.15s ease-in;
}
#city-search-btn:hover .city-search-svg{
    fill: #000;
}


.card__top{
    text-align: center;
    display: flex;

    justify-content: space-between;
    width: 100%;
    height: 75%;
}

.card__top-left{
    width: 50%;
    height: 100%;
}

#card__temperature{
    margin-top: 25px;
}

.card__top-right{
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card__bottom{
    display: flex;
    height: 25%;
    align-items: flex-end;

    justify-content: space-between;

}

#card__img{
    transform: translate(90px, -50px);
    pointer-events: none;
}

/*--------------------------------------------------------------
    @media
--------------------------------------------------------------*/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .hero__card{
        width: 480px;
        border-radius: 10px;
    }

    .hero__top{
        width: auto;
    }

    #city-input{
        width: 480px;
        border-radius: 10px;
        text-align: center;
    }

    #city-search-btn{
        border-radius: 0 10px 10px 0;
    }

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .hero__container{
        width: 680px;
    }

}

/* Large devices (portatils petits, 1069px and up) */
@media (min-width: 1069px) {

}

/* Large devices (portatils, 1200px and up) */
@media (min-width: 1200px) {

}

/* Extra large devices (sobretaula, 1441px and up) */
/* Apartir d'aquí es solen col·locar caixes de 1440px en total perque creixin els laterals depenent l'amplada o simplement full with */
@media (min-width: 1441px) {

}

/*--------------------------------------------------------------
    @media - compressed
--------------------------------------------------------------*/

/* Tablets amb height comprimit */
@media screen and (max-width: 1068px) and (min-width: 768px) and (max-height: 733px) and (min-height: 0px) {

}

/* Portatils amb height comprimit */
@media screen and (max-width: 1440px) and (min-width: 1069px) and (max-height: 775px) and (min-height: 0px) {

}

/* Sobretaula amb height comprimit */
@media screen and (max-width: 1441000px) and (min-width: 1441px) and (max-height: 775px) and (min-height: 0px) {

}
