/* Mobile frist */
/* Extra small devices (portrait phones, less than 576px) */
:root{
    --clr-primary: #ffffff;

    --clr-typo: #282828;

    --clr-border: #eaeaea;
    --clr-outline: #d1d1d1;
    
    --clr-black: #000000;
    --clr-white: #ffffff;
    --clr-broken-white: #fafafa;
    --clr-broken-black: #1f1f1f;

    --clr-shadow: rgba(0,0,0, 0.05);
    --clr-shadow-hover: rgba(0,0,0, 0.10);
   
    --transition-time: 0.25s;
    --transition-ease: ease-out;
}

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
  }
  
/* Hide scrollbar for IE, Edge and Firefox */
body {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}

body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    transition: background-color var(--transition-time) var(--transition-ease);
}

body *{
    transition: background-color var(--transition-time) var(--transition-ease);
}

::selection {
    color: var(--clr-white);
    background-color: var(--clr-typo);
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    transition: color var(--transition-time) var(--transition-ease);
}

h1{
    color: var(--clr-broken-black);
}

h2{
    font-weight: 500;
    font-size: 24px;
    color: var(--clr-typo);
}

h3{
    font-weight: 300;
    font-size: 54px;
    color: var(--clr-typo);
}

h4{
    font-size: 14px;
    font-weight: 300;
    color: var(--clr-typo);
}

h5{
    font-weight: 600;
    font-size: 18px;
    color: var(--clr-typo);
}

p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: var(--clr-typo);
}

.center-content{
    display: flex;
    align-items: center;
    justify-content: center;
}

/*--------------------------------------------------------------
# initial animation
--------------------------------------------------------------*/

.title-animation{
    z-index: 1000;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: var(--clr-typo);
    font-size: 24px;
    font-weight: 300;

    opacity: 0;

    pointer-events: none;

    animation: title-animation cubic-bezier(0.97, 0.01, 0.36, 0.99) 4s;
}


@keyframes title-animation {
    0%{
        opacity: 0;
    }
    10%{
        opacity: 0;
    }
    30%{
        opacity: 1;
    }
    70%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.background-animation{
    z-index: 999;

    position: fixed;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100vh;

    margin: 0 auto;
    background-color: var(--clr-white);
    pointer-events: all;

    animation: background-animation 1s cubic-bezier(0.97, 0.01, 0.36, 0.99) 4s;
    animation-fill-mode: forwards;
}

@keyframes background-animation {
    0%{
        opacity: 1;
        pointer-events: none;
    }
    10%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        pointer-events: none;
    }
}



/*--------------------------------------------------------------
    <main>
--------------------------------------------------------------*/

main{
    /* footer effect */
    margin-bottom: 44px;
    background-color: var(--clr-white);
    letter-spacing: 0px;
}

/*--------------------------------------------------------------
    <section> - hero
--------------------------------------------------------------*/

.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    min-height: 100vh;
}

.hero__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100%;

    text-align: justify;
    background-color: var(--clr-broken-white);
    border-top: none;
    border-bottom: none;
    transition: all var(--transition-time) var(--transition-ease);
}

.hero__card{
    z-index: 100;

    position: relative;
    overflow: hidden;
    width: 100%;
    height: 270px;
    background-color: var(--clr-white);
    border: solid 1px var(--clr-border);
    outline: none;
    padding: 30px 25px;
    margin: 30px 25px;
    box-shadow: 0 0 25px var(--clr-shadow);
    user-select: none;
    transition: all var(--transition-time) var(--transition-ease);
}

.hero__card:hover,
.hero__card:focus,
#hero__bot:hover,
#hero__bot:focus{
    border: solid 1px var(--clr-outline);
    box-shadow: 0 0 25px var(--clr-shadow-hover);
}

.hero__top{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    transition: all var(--transition-time) var(--transition-ease);
}

#card__greetings{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 430px;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
    transition: opacity var(--transition-time) var(--transition-ease);
}

#card__error{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
    transition: opacity var(--transition-time) var(--transition-ease);
}

#card__content{
    opacity: 0;
    width: 100%;
    height: 100%;
    transition: opacity var(--transition-time) var(--transition-ease);
}

#city-input{
    width: 100%;
    height: 64px;
    padding: 25px;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 20px;
    color: var(--clr-typo);
    background-color: var(--clr-white);
    border: solid 1px var(--clr-border);
    box-shadow: 0 0 25px var(--clr-shadow);
    outline: none;
    transition: all var(--transition-time) var(--transition-ease);
}

#city-search-btn{
    position: absolute;
    height: 64px;
    width: 64px;
    right: 0;
    background-color: var(--clr-white);
    border: solid 1px var(--clr-border);
    cursor: pointer;
    outline: none;
    opacity: 1;
    transition: all var(--transition-time) var(--transition-ease);
}

#city-input:focus,
#city-search-btn:focus{
    border: solid 1px var(--clr-outline);
    box-shadow: 0 0 25px var(--clr-shadow-hover);
}

#city-search-btn:hover svg,
#city-search-btn:focus svg{
    animation: search-btn-animation 0.4s;
    animation-fill-mode: forwards;
}

@keyframes search-btn-animation {
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(-10deg);
    }
    50%{
        transform: rotate(10deg);
    }
    75%{
        transform: rotate(-10deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

.city-search-svg{
    height: 22px;
    width: 22px;
    margin-top: 5px;
    fill: var(--clr-typo);
    opacity: 1;
    transition: all var(--transition-time) var(--transition-ease);
}
.svg{
    height: 10px;
    margin-right: 3px;
}

#city-search-btn:hover,
#city-input:hover{
    border: solid 1px var(--clr-outline);
    box-shadow: 0 0 25px var(--clr-shadow-hover);
    transition: all var(--transition-time) var(--transition-ease);
}

.card__top{
    text-align: center;
    display: flex;

    justify-content: space-between;
    width: 100%;
    height: 75%;
}

.card__top-left{
    width: 50%;
    height: 100%;
}

#card__temperature{
    margin-top: 30px;
}

.card__top-right{
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card__bottom{
    display: flex;
    height: 25%;
    margin: 0 25px;
    align-items: flex-end;
    justify-content: space-between;
}

#card__img{
    /* necesari perque la img respecti el z-index */
    z-index: -1;
    position: absolute;
    
    opacity: 1;
    transform: translate(-18px, 0px);
    height: 450px;
    pointer-events: none;
    transition: all var(--transition-time) var(--transition-ease) !important;
}

#card__weather{
    font-weight: 300;
    margin-top: 5px;
}

#card__time,
#card__day{
    color: var(--clr-typo);

    font-size: 14px;
    font-weight: 300;
    margin: 0 20px;
    margin-top: 2px;
    opacity: 0;
    transition: all var(--transition-time) var(--transition-ease);
}

#hero__bot{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 48px;
    padding: 25px;
    background-color: var(--clr-white);
    border: solid 1px var(--clr-border);
    outline: none;
    box-shadow: 0 0 25px var(--clr-shadow);
    user-select: none;
    opacity: 0;
    transition: all var(--transition-time) var(--transition-ease);
}

.card__footer{
    width: 50%;
    text-align: center;
}

/*--------------------------------------------------------------
    <footer>
--------------------------------------------------------------*/

footer{
    position: fixed;
    bottom: 0;
    z-index: -1;
    height: 44px;
    width: 100%;
    background-color: var(--clr-broken-black);
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

footer p{
    color: var(--clr-white);
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    transition: color var(--transition-time) var(--transition-ease);
}

/*--------------------------------------------------------------
    @media
--------------------------------------------------------------*/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    
    .title-animation{
        font-size: 36px;
    }

    .hero__card{
        width: 480px;
        border-radius: 10px;
    }

    .hero__top{
        width: 480px;
    }

    #hero__bot{
        width: 480px;
        border-radius: 10px;
    }

    #city-input{
        width: 480px;
        border-radius: 10px;
        text-align: center;
    }

    #city-search-btn{
        border-radius: 0 10px 10px 0;
    }

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    
    .hero{
        min-height: 768px;
    }

    .hero__container{
        width: 680px;
        border: solid 1px var(--clr-border);
    }

}

/* Large devices (portatils petits, 1069px and up) */
@media (min-width: 1069px) {

}

/* Large devices (portatils, 1200px and up) */
@media (min-width: 1200px) {

}

/* Extra large devices (sobretaula, 1441px and up) */
/* Apartir d'aquí es solen col·locar caixes de 1440px en total perque creixin els laterals depenent l'amplada o simplement full with */
@media (min-width: 1441px) {

}

/*--------------------------------------------------------------
    @media - compressed
--------------------------------------------------------------*/

/* Tablets amb height comprimit */
@media screen and (max-width: 1068px) and (min-width: 768px) and (max-height: 733px) and (min-height: 0px) {

}

/* Portatils amb height comprimit */
@media screen and (max-width: 1440px) and (min-width: 1069px) and (max-height: 775px) and (min-height: 0px) {

}

/* Sobretaula amb height comprimit */
@media screen and (max-width: 1441000px) and (min-width: 1441px) and (max-height: 775px) and (min-height: 0px) {

}
